{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Consoles</h2>
    <div class="row">
        {% for console in consoles %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ console.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Ready?: {{ console.ready }}
                </h5>
                <p class="card-text">
                    Body: {{ console.body }}
                </p>
                <p class="card-text">
                    Amount: {{ console.amount }}
                </p>
                <a href="/consoles/{{ console.id }}" class="btn btn-info">
                    View {{ console.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}